certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==44.0.0
customtkinter==5.2.2
darkdetect==0.8.0
exceptiongroup==1.2.2
idna==3.7
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pytest==8.3.2
PyYAML==6.0.2
requests==2.32.3
responses==0.25.3
tk==0.1.0
tomli==2.0.1
urllib3==2.2.2
zxcvbn==4.4.28
